$font: 'Lato', Helvetica, Arial, sans-serif;
$white-bg-transparent: rgba(255, 255, 255, 0.5);

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  font-family: $font;
  background-color: #f4f6f9;
}

a {
  text-decoration: none;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid;
  z-index: 100;
  transition: all 0.6s ease-out;

  .link {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 0 1em;
    color: black;
    &:visited {
      color: black;
    }
    &:hover {
      color: gray;
    }
  }
  .brand {
    @extend .link;
  }
}

.navbar {
  display: flex;
  align-items: center;
  .left,.right {
    display: flex;
    flex: 1;
  }
  .link {
      width: auto;
  }
  .right {
    justify-content: center;
    justify-content: flex-end;
  }
}

.navbar.scrolled {
  background-color: white;
  border: none;
}

.content {
  div {
    padding-top: 65px;
    margin-top: -65px;
  }
  position: absolute;
  width: 100%;
  top: 65px;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-image: url('aboutimg.jpg');
  background-position: center;
  background-size: cover;

  #about-me {
    color: #05214f;
    padding-top: 0;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 60%;
    background-color: $white-bg-transparent;
    border-radius: 5px;

    h1 {
      font-size: 50px;
      padding: 0;
      margin: 0;
    }

    p {
      font-size: 18px;
      line-height: 150%;
    }
  }
}

#projects {

  #project-title {
    text-align: center;
  }

  .project-img {
    height: 275px;
    width: 500px;
    border-radius: 10px;
    border: 1px solid gray;
  }

  h3 {
    border-bottom: 1px solid;
    margin: 0;
  }

  .description {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 50px;
    width: 300px;

    a {
      margin: 2px 0;
      color: green;

      &:hover {
        color: purple;
      }
    }
  }

  .single-project {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }

  .link-img {
    height: 25px;
    width: 25px;
  }
}

#contact {
  padding: 0;
  padding-top: 25px;
  margin-top: 25px;
  height: 50vh;
  background-color: #e8eaed;
  background-image: url('hk.jpg');
  background-size: cover;
  background-position: center;

  h1 {
    text-align: center;
    color: white;
  }

  .contact-info {
    background-color: $white-bg-transparent;
    margin: 0 auto;
    padding: 20px;
    width: 60vw;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 200px;
      border-radius: 50%;
    }

    a {
      color: green;
      &:hover {
        color: purple;
      }
    }

    .info {

      margin-left: 20px;

      .icon {
        margin-right: 5px;
        border-radius: 0;
        cursor: pointer;
        height: 25px;
        transition: all 0.6s ease-out;

        &:hover {
          box-shadow: 0px 0px 30px 0px rgb(73, 115, 178);
          border-radius: 50%;
        }
      }
    }
  }
}